doctype html
html(lang="en")
    head
        title Sing In
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/generalStyle.css')
        link(rel="shortcut icon", href="/img/task-favicon.ico", type="image/x-icon")
    body
        header#cabezera 
            h1 TODO APP - Gonzalez Fernando Daniel
        section#singupContainer 
            form(action="/registro", method="post")#singinForm
                table#content
                    tr.title 
                        th(colspan= "2") Registrar Usuario
                    tr.singinInput
                        td
                            label(for="name") Nick Name 
                        td 
                            input(type="text" id="name" name="name" placeholder="My Nick Name" required)
                    tr.singinInput
                        td
                            label(for="email") Email 
                        td 
                            input(type="email" id="email" name="email" placeholder="myemail@gmail.com" required)
                    tr.singinInput
                        td 
                            label(for="password") Contraseña 
                        td 
                            input(type="password" id="password" name="password" placeholder="password" required)
                    tr.singupButton
                        td(colspan="2")
                            input(type="submit", value="Registrarse")
                    tr.singinRegistro
                        td(colspan="2")
                            p ¿Tienes cuenta?
                    tr.singinRegistro
                        td(colspan="2")
                            p 
                                | Ingresa aqui 
                                a(href="/") Sign In
    if err == 'password'
        script. 
            alert('La contraseña es demasiado corta.')
    if err == 'email'
        script. 
            alert('EL email ingresado es incorrecto')
    if existUser 
        script. 
            alert('El email ingresado ya se encuentra registrado')